.footer{
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    background-color: rgb(85, 148, 249) ;
    color: whitesmoke;
    padding: 1.5rem;
left:0;
bottom:0;
right:0;
}
span{
text-align: center;
}
.icon{

padding-left: 3rem;
font-size: x-large;

}
.icon :hover{
background-color: rgb(52, 33, 226);

}